* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  height: 100vh;
  width: 100vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3em;
  color: #aaa;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

.text-cursor {
  display: inline-block;
  position: relative;
}
.text-cursor::after {
  content: "";
  position: absolute;
  width: 0.1%;
  height: 100%;
  border-right: 0.05em solid #aaa;
  animation: blink 1s ease infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1,
h2 {
  font-weight: 200;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
}
